.container{
    background-color: rgb(235, 220, 220);
}
#add_btn{
    width: 100px;
}
#tabel{
    background-color: white;
}

#sal{
    padding-bottom: 40px;
}
thead{
    background-color: rgb(235, 220, 220);
}  
